<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Admin</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
<!-- breadcrumb start-->
<ul class="nav nav-tabs justify-content-center mt-4" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab">
      Chefs
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab">
      Menu
    </a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active text-center" id="home" role="tabpanel">
    <h5 class="mt-3"><app-chefs-table></app-chefs-table></h5>
  </div>
  <div class="tab-pane fade text-center" id="profile" role="tabpanel">
    <h5 class="mt-3"><app-menu-table></app-menu-table></h5>
  </div>
</div> 